
   
    <br>
     
    <div class="container-fluid article-container" id="articles">
      {{#each dbArticle}}
        <div data-_id="{{this._id}}"class="card" style="font-family: ' Roboto', sans-serif;', serif;">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="" href="{{this.link}}"></a>
                    <p>{{this.title}}</p>
                    <a class="btn btn-secondary save">
                        Save Article
                    </a>
                    <a class="btn btn-secondary save" id="comment">
                        Comment
                    </a>
                </h3>
            </div>
        </div>
        {{/each}}
    </div>
     